$deeper-ocean-blue: #3470FF;
$deeper-active-blue: #4078fc;
$deeper-hover-blue: #0B44CD;

$monster-black: #121417;

$foggy-gray: #8A8A89;
$morning-fog-gray: #D0D0D1;

$darker-snow-white: #F7F7FB;
$snow-white: #ffffff;